* {
    padding: 0;
    margin: 10;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.news-feed {
    background-color: blueviolet;
    margin-top: 10px;
}

.currency-converter {
    background-color: lawngreen;
    margin-right: 10px;
}

.exchange-rate {
    background-color: coral;
}

.input-box {
    display: flex;
}
